extends layout.pug

block content
  .container
    if regSuccess
      div(class="alert alert-success" role="alert") Successfully registered
    table(class="table")
      thead
        tr
          th GameId
          th Player 0
          th Player 1
          th Is Player 0 first?
          th Board Heights
          th winCondition
          th moves
          th View game
          th Game
      tbody
      each game in games
        tr
          td= game.gameId
          td= game.player0
          td= game.player1
          td= game.isPlayer0First
          td= game.boardHeights
          td= game.winCondition
          td= game.moves
          td <a href="/preview/#{game.gameId}">Link</a>
          td
            .play(id="game-" + game.gameId)

  script.
    $(function() {
      var games = [!{gameStates}];
      var maxDimension = 100;

      games.forEach(function(game, i) {
        var $play = $(`.play#game-${game.gameId}`);
        var renderer = new window.qc.Renderer($play, maxDimension, game);
        var manager = new window.qc.RenderManager(renderer);
        manager.playByTime(200, true);
      });
    });
