extends layout.pug

block content
  .container
    if regSuccess
      div(class="alert alert-success" role="alert") Successfully registered
    table(class="table")
      thead
        tr
          th Game Number
          th Player 0
          th Player 1
          th View game
          th Game
          th Delete
      tbody
      each game in games
        tr(id=game.gameId)
          td= game.id
          td(class="player-name player0-name")= game.player0
          td(class="player-name player1-name")= game.player1
          td <a href="/preview/#{game.gameId}">Link</a>
          td
            .play(id="game-" + game.gameId)
          td <a href="/games/delete/#{game.gameId}">Delete</a>

  script.
    $(function() {
      setTimeout(function(){location.reload()}, 20000);
      var games = [!{gameStates}];
      var maxDimension = 100;

      games.forEach(function(game, i) {
        if(!(game.isPlayer0Winner === null)) {
          var winner = game.isPlayer0Winner ? 0 : 1;
          var loser = game.isPlayer0Winner ? 1 : 0;

          var $winner = $(`tr#${game.gameId} > td.player${winner}-name`);
          var $loser = $(`tr#${game.gameId} > td.player${loser}-name`);

          $winner.addClass('winner');
          $loser.addClass('loser');

        }

        var $play = $(`.play#game-${game.gameId}`);
        var renderer = new window.qc.Renderer($play, maxDimension, game);
        var manager = new window.qc.RenderManager(renderer);
        manager.playByTime(200, true);
      });
    });
