extends layout.pug

block content
  .container
    table(class="table")
      thead
        tr
          th Identicon
          th Player Profile
          th Games Played
          th ELO
      tbody
      each user in users
        tr
          td
            div(id=user.userName + "-identicon")
          td
            a(href="/user/" + user.userName)= user.userName
          td=user.games
          td=user.rating

  script.
    $(function() {
      var users = [!{usersJson}];
      users.forEach(user => {
        var data = new Identicon(user.identiconHash, 100).toString();
        $img = `<img width=100 height=100 src="data:image/png;base64,${data}">`;
        var oreo = $(`${user.userName}-identicon`);
        $(`#${user.userName}-identicon`).append($img)
      });
    });
